.texto{
    text-align: center;
    padding: 30px 0 0 0;
    background-image: linear-gradient(to top, rgb(253, 247, 247), rgb(79, 80, 71), rgb(0, 0, 0));
    color: goldenrod;
    padding: 35px 0;
    font-size: 35px;
}